@media (max-width: 1200px) {
  .header {
    &__row {
      padding:0 40px;
    }
    &__connect {
      flex-direction:column;
    }
    &__phone {
      margin-bottom: 10px;
      margin-right:0 !important;
      span {
        display: none !important;
      }
    }
    &__descr {
      margin-top: 10px;
    }
    &__decoration {
      margin-top: 20px !important;
    }
  }
  .work {
    &__items {
      flex-direction: column !important;
      margin-top: 0 !important;
    }
    &__img {
      width:100% !important;
    }
    &__item {
      margin-top: 50px !important;
      margin: 0 auto;
      width:585px !important;
    }
  }
  .reviews {
    &__slider {
      .slick-arrow {
        top:50% !important;
      }
    }
    &__text {
      width:300px !important;
    }
    .slick-next {
      right: 30% !important;
    }
    .slick-prev {
      left:30% !important;
    }
  }
}

@media (max-width:1100px) {
  .reviews {
    &__text {
      width:300px !important;
    }
    .slick-next {
      right: 120px !important;
    }
    .slick-prev {
      left:120px !important;
    }
  }
}


@media (max-width:992px) {
  .header {
    &__row {
      padding:0!important;
      justify-content: space-between !important;
    }
    &__item {
      align-items: flex-end !important;
      padding:0 !important;
    }
    &__menu {
      display: none !important;
      /* position:absolute !important;
      flex-direction: column !important;
      left:120% !important;
      height:105vh !important;
      justify-content: space-around;
      align-items: flex-start;
      top:-25px;
      width:50%;
      background-color: gray;
      padding-left: 40px !important;
      padding-top:100px !important;
      padding-bottom:50px !important;
      z-index: 1;
      &_active {
        left:70% !important;
      } */
    &__mobile-menu {
      display:block;
    }    
    
    &__descr {
      font-size: 21px !important;
    }
    h2 {
      font-size: 55px !important;
    }
    &__text {
      font-size: 32px !important;
    }
    &__phone {
      line-height: 15px !important;
      a {
        font-size: 18px;
      }
    }
    &__item {
      border:none !important;
      padding:0 !important;
      &:first-of-type {
        padding-right: 15px !important;
        padding-left:15px !important;
      }
    }
  }
  &__hamburger {
    display: block !important;
    position:relative;
    top:25%;
    &_active {
      span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
      }
      span:nth-child(2) {
        display: none;
      }
      span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }
}
.consultation {
  /* .container {
    max-width: 720px!important;
  } */
  &__wrapper {
    flex-direction: column !important;
  }
  &__item {
    margin: 15px 13px !important;
    border:5px solid #25333c !important;
  }
  &__title {
    margin:0 !important;
  }
  &__form {
    display:flex !important;
    flex-direction: column !important;
    input {
      margin-top:20px !important;
    }
  }
  &__footer-wrap {
    padding:50px 0 30px !important;
    height:auto !important;
    width:50% !important;
    margin:0 auto;
    margin-top:70px !important;
  }
  &__button {
    position:relative !important;
    margin:0 auto !important;
    margin-top:40px !important;
    transform: none !important;
    bottom:auto !important;
    right: auto !important;
  }

}
.questions {
  &__block {
    width:50% !important;
  }
  &__form {
    flex-direction: column !important;
  }
  input {
    margin-bottom:10px !important;
  }
  textarea {
    width:268px !important;
  }
}
.footer {
  &__logo {
    &-img {
      margin-right:20px !important;
    }
  }
  &__phone {
    display: none !important;
  }
}
/* .popup-call {

} */
}


@media (max-width:768px) {
  .descr {
    padding:0 30px!important;
  }
  .header {
    height:auto !important;
    &__menu {
      &_active {
        width:50% !important;
      }
    }
    &__descr {
      margin-top: 25px !important;
      font-size: 18px !important;
    }
    &__text {
      font-size: 25px !important;
    }
    h2 {
      font-size: 40px !important;
    }
    &__adv {
      margin-top: 20px !important;
    }
    &__icons {
      top:20px !important;
    }
    &__advantages {
      &__item {
        flex-basis:none !important;
      }
      &:last-child {
        img {
          right:54% !important;
        }
      }
    }
    
    &__decoration {
      &:after, &:before {
        width:150px !important;
      }
    }
    &__wrapper {
      flex-direction: column;
      align-items: center !important;
    }
    &__button {
      &_bottom {
        margin-bottom: 40px !important;
      }
    }
  }
  .work {
    &__item {
      width:auto !important;
    }
  }
  .consultation {
    padding-bottom: 0 !important;
    .container {
      width:auto !important;
    }
    &__wrapper {
      width:340px !important;
      margin:0 auto;
    }
    &__footer-wrap {
      width:100% !important;
      border:none !important;
    }
    &__item {
      margin:15px 0 !important;
    }
  }
  .scheme {
    .title {
      margin-bottom:0px !important;
    }
    &__title {
      padding-top:100px !important;
    }
    &__img {
      top:40px !important;
    }
  }
  .reviews {
    .slick-next {
      right: 50px !important;
    }
    .slick-prev {
      left:50px !important;
    }
  }
  .questions {
    &__block {
      width:70% !important;
    }
}
}

@media (max-width:576px) {
  .container {
    max-width:455px;
  }
  .descr {
    padding:0 !important;
  }
  .header {
    &__connect {
      position:absolute !important;
      left:120% !important;
      z-index: 1 !important;
      width:170px !important;
      /* padding-left: 40px !important; */
      
      &_active {
        left:43% !important;
      }
    }
    &__item {
      a {
        font-size: 20px !important;
      }
    }
    h2 {
      font-size: 30px !important;
      margin-top: 10px !important;
    }
    &__text {
      font-size: 20px !important;
    }
    &__decoration {
      &:after, &:before {
        width:100px !important;
      }
    }
    &__menu {
      padding-top:130px !important;
      &_active {
        left:35% !important;
        width:85% !important;
      }
    }
  }
  .work {
    &__img {
      width:380px !important;
    }
  }
  .agent {
    height:auto !important;
    &__text {
      padding: 0 20px !important;
    }
  }
  .reviews {
    &__text {
      width:250px !important;
    }
    .slick-next {
      right: 30px !important;
    }
    .slick-prev {
      left:30px !important;
    }
  }
  .questions {
    &__block {
      width:80% !important;
    }
  }
}

@media (max-width:490px) {
  .footer {
    &__logo {
      &-text {
        display: none !important;
      }
    }
  }
}

@media (max-width:475px) {
  .container {
    max-width:350px !important;
  }
  .header {
    &__row {
      justify-content: space-around !important;
      transition: 1s !important;
    }
    h2 {
      line-height: 33px !important;
      padding:0 45px !important;
      margin:25px 0 !important;
    }
    &__text {
      line-height: 30px !important;
    }
    &__menu {
      padding-left:185px !important;
      &_active {
        padding-top: 270px !important;
        left:-70px !important;
        width:120vh !important;
      }
    }
    &__logo {
      z-index:2 !important;
    }
    &__connect {
      top:130px !important;
      &_active {
        left:106px !important;
      }
    }
  }
  .advantages {
    .row {
      margin-left: -15px !important;
    }
  }
  .work {
    &__img {
      width:350px !important;
    }
  }
  .reviews {
    &__text {
      width:250px !important;
    }
    .slick-next {
      right: 10px !important;
    }
    .slick-prev {
      left:10px !important;
    }
  }
  .questions {
    &__block {
      width:90% !important;
    }
  }
}

@media (max-width:390px) {
  .advantages {
    .container {
      max-width:320px !important;
    }
  }
  .work {
    .title_black {
      padding: 0 40px;
    }
    &__descr {
      padding: 0 20px;
    }
  }
  .scheme {
    .row {
      width: 320px !important;
      margin:0 auto;
    }
  }
  .reviews {
    &__text {
      width:180px !important;
    }
    .slick-next {
      right: 5px !important;
    }
    .slick-prev {
      left:5px !important;
    }
  }
  .questions {
    &__form {
      padding: 18px 20px 16px 20px !important;
      input {
        width: 240px !important;
      }
      textarea {
        width:240px !important;
      }
    }
  }
}

@media (max-width:360px) {
  .advantages {
    .container {
      max-width:280px !important;
    }
  }
  .work {
    &__img {
      width:320px !important;
    }
  }
  .agent {
    &__text {
      padding:0 20px !important;
    }
  }
  .consultation {
    &__wrapper {
      width:300px !important;
    }
  }
  .footer__wrapper {
    justify-content: space-around !important;
  }
}

@media (max-width:350px) {
  .container {
    max-width: 320px !important;
  }
  .header {

    &__descr {
      padding:0 20px !important;
    }
    h2 {
      font-size: 25px !important;
    }
    &__text {
      font-size: 16px !important;
      padding:0 30px !important;
      line-height: 30px !important;
    }
    &__connect {
      &_active {
        left:84px !important;
      }
    }
    &__menu {
      &_active {
        left:-95px !important;
      }
    }
  }
}
  

  