@media (max-width: 1200px) {
  .header {
    &__row {
      justify-content: space-around;
    }
    &__connect {
      flex-direction:column;
    }
    &__phone {
      margin-bottom: 10px;
      margin-right:0 !important;
      span {
        display: none !important;
      }
    }
    &__descr {
      margin-top: 10px;
    }
    &__decoration {
      margin-top: 20px !important;
    }
  }
}

@media (max-width:992px) {
  .header {
    &__menu {
      flex-direction: column;
      right:-100%;
      &_active {
        position:absolute;
        right: -50%;
        width:50%;
        height:300px;
        background-color: gray;
      }
    }
    &__connect_active {
      right:30%;
      
    }
    &__item {
      border:none !important;
      padding:0 !important;
    }
    &__hamburger {
      display: block !important;
      &_active {
        span:nth-child(1) {
          transform: translateY(10px) rotate(45deg);
        }
        span:nth-child(2) {
          display: none;
        }
        span:nth-child(3) {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }
  }
}