@import 'base/variables';
@import 'base/media';
@import 'blocks/header';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/consultation';
@import 'blocks/managers';
@import 'blocks/scheme';
@import 'blocks/reviews';
@import 'blocks/questions';
@import 'blocks/footer';

* {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin:0 auto;
  width:1140px;
  padding:0;
  overflow: hidden;
}

button {
  cursor:pointer;
}

hr {
  width: 148px;
  height: 1px;
  background-color:$main-color;
}

.title {
  font-size: 26px;
  font-weight: bold;
  color:#fff;
  text-align: center;
  text-transform: uppercase;
  &_black {
    color:#000;
  }
}

.agent__title {
  color:#fff;
  font-size: 26px;
  font-weight: bold;
  margin-top: 19px;
  line-height: 27px;
}